@mixin for-size($size) {
  $laptop-l-smaller-boundary: 1366px;
  $laptop-smaller-boundary: 1280px;
  $laptop-s-smaller-boundary: 1200px;
  $tablet-smaller-boundary: 1024px;
  $phablet-smaller-boundary: 768px - 2px;
  $mobile-smaller-boundary: 600px - 2px;
  $mobile-m-smaller-boundary: 412px;
  $mobile-s-smaller-boundary: 360px;
  $mobile-xs-smaller-boundary: 320px;

  @if $size == laptop-l {
    @media (max-width: #{$laptop-l-smaller-boundary}) {
      @content;
    }
  } @else if $size == laptop {
    @media (max-width: #{$laptop-smaller-boundary}) {
      @content;
    }
  } @else if $size == laptop-s {
    @media (max-width: #{$laptop-s-smaller-boundary}) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: #{$tablet-smaller-boundary}) {
      @content;
    }
  } @else if $size == phablet {
    @media (max-width: #{$phablet-smaller-boundary}) {
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: #{$mobile-smaller-boundary}) {
      @content;
    }
  } @else if $size == mobile-m {
    @media (max-width: #{$mobile-m-smaller-boundary}) {
      @content;
    }
  } @else if $size == mobile-s {
    @media (max-width: #{$mobile-s-smaller-boundary}) {
      @content;
    }
  } @else if $size == mobile-xs {
    @media (max-width: #{$mobile-xs-smaller-boundary}) {
      @content;
    }
  }
}

.form {
  position: relative;

  padding: 15px;
}

.application-form {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 70px;
  box-shadow: 0px 4px 30px rgba(176, 222, 45, 0.1);
  border-radius: 4px;
  background: #f5e7df;
  color: #000000;
  min-width: 490px;
  font-size: 18px;
  position: relative;
  a {
    color: #fff;
  }
  & > p {
    margin-top: 0px;
    margin-bottom: 40px;
    @include for-size(laptop-s) {
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }
  button {
    margin: 0 auto 0 0;
    padding: 10px 55px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    border: 1px solid;
    &::after {
      display: none;
    }
  }
  .politic {
    margin-bottom: 40px;
    color: #000000;
  }
  ._close {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 26px;
    top: 20px;
    // background: rgba(#a6a6a6, 0.15);
    border-radius: 50%;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      width: 22px;
      height: 2px;
      position: absolute;
      left: calc(100% / 2 - 22px / 2);
      top: calc(100% / 2 - 2px / 2);
      background: #000000;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  @include for-size(laptop-l) {
    padding: 35px 20px;
    min-width: 340px;
  }
}
.form__title {
  display: block;
  font-size: 40px;
  line-height: 100%;
  color: $color-main;
  font-family: $font-family-second;
  margin-bottom: 15px;
  @include for-size(mobile) {
    font-size: 33px;
  }
}

.form-input,
.form-text-area {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(#000000, 1);
  padding: 0px 0 24px;
  color: #000000;
  font-size: 18px;
  font-family: $font-family-main;
  margin-bottom: 34px;
  resize: none;
  // border-radius: 4px;
  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.4);
    font-family: $font-family-main;
  }
}
.form-text-area {
  border: 1px solid rgba(#a6a6a6, 0.2);
  padding: 12px 20px;
  margin-bottom: 14px;
}
.checkbox {
  display: none;
}
.checkbox + label {
  display: inline-flex;
  user-select: none;
  font-size: 16px;
  align-items: center;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 13px;
  background: rgba(#f3f3f3, 0.3);
  border-radius: 3px;
  border: 1px solid #dbdbd7;
}
.checkbox:checked + label::before {
  background: $color-main;
  border: 2px solid #838383;
  //   background-image: url("/images/check.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: contain;
}
.checkbox.dark:checked + label::before {
  background-color: $color-main;
  background-image: none;
  border: 4px rgba(#f3f3f3, 0.8) solid;
}
.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgb(0, 123, 255);
}
.checkbox:focus:not(:checked) + label::before {
  // border-color: #80bdff;
  box-shadow: 0 0 5px 0.2rem rgb(255 0 0);
}
