<div class="_accordion">
  <div class="_accordion__head">hello</div>
  <div class="_accordion__body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ab. Labore obcaecati quisquam incidunt ut.
      Dolorem veritatis quae soluta, omnis velit nam ipsum quis officia, id repellat harum illum repellendus? </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ab. Labore obcaecati quisquam incidunt ut.
      Dolorem veritatis quae soluta, omnis velit nam ipsum quis officia, id repellat harum illum repellendus? </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ab. Labore obcaecati quisquam incidunt ut.
      Dolorem veritatis quae soluta, omnis velit nam ipsum quis officia, id repellat harum illum repellendus? </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, ab. Labore obcaecati quisquam incidunt ut.
      Dolorem veritatis quae soluta, omnis velit nam ipsum quis officia, id repellat harum illum repellendus? </p>
  </div>
</div>